.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.login button,
.login input {
  font-size: 1.4rem;
  min-width: 20%;
}
.login input {
  padding: 0.6% 1%;
}
.login h2 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .login button,
  .login input {
    font-size: 1.4rem;
    min-width: 80%;
  }
}
