.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.login button,
.login input {
  font-size: 1.4rem;
  width: 100%;
  padding: 0.5rem 1rem !important;
}
.login input {
  padding: 0.6% 1%;
}
.login h2 {
  color: #fff;
}
@media screen and (max-width: 420px) {
  .login {
    width: 96%;
  }
}
