* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  background-image: url("https://resources.adacta-fintech.com/hubfs/ADACTA_nova-kreativa_K2-Landing-page-header-WEBINAR_22nov-a.jpg");
  background-size: cover;
  background-position: center;
}
.logo {
  position: absolute;
  top: 2vh;
  left: 1vw;
  height: 60px;
  border-radius: 2px;
  width: auto;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 5vh;
  width: 60%;
  min-height: 70vh;
  height: fit-content;
}
.content h1 {
  font-family: Arial;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px darkblue;
  text-align: center;
}
.content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  height: fit-content;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.556);
  border-radius: 15px;
}

.content table .table-heading {
  font-weight: 600;
  font-size: 1.6rem;
  background-color: #393939;
}
.content table tbody .left-cell-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
}
.content table tbody .left-cell-content p {
  min-width: 30%;
  text-align: left;
}

.content table td,
.content table th {
  border: 2px solid #fff;
  text-align: left;
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
}
.content table tbody tr td select {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  appearance: none;
}

.content table tbody tr td:last-child {
  position: relative;
}
.delete-button {
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  background-color: transparent;
  color: rgb(243, 76, 76);
  cursor: pointer;
}

.content table tbody tr .select::after {
  content: "\2B9F";
}
.content table tbody tr td select option {
  color: #000;
  text-align: center;
  cursor: pointer;
}
.content table tbody tr td select:focus {
  outline: none;
}

.add-button {
  font-size: 1.5rem;
}
button {
  background-color: rgb(9, 158, 227);
  color: #fff;
}
button,
input,
select {
  border-radius: 5px;
  border: none;
  padding: 0.6% 2%;
}
button:focus,
input:active {
  outline: none;
  cursor: pointer;
}
select,
input {
  outline: none;
}
.add-account {
  width: 80%;
  font-family: arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid #fff;
  padding: 3% 2%;
  background-color: rgba(0, 0, 0, 0.556);
}

.add-account input {
  font-size: 1.4rem;
  width: 50%;
}
.add-account button {
  font-size: 1.4rem;
  width: 20%;
}
.add-account select {
  font-size: 1.4rem;
  width: 20%;
}
h2 {
  font-family: Arial;
  font-size: 2rem;
  text-shadow: 2px 2px darkblue;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .app {
    background-size: contain;
  }
  .content {
    width: 98%;
  }
  .content table {
    width: 98%;
  }
  button,
  input,
  select {
    border-radius: 5px;
    border: none;
    padding: 1% 5%;
  }
  .add-account {
    flex-direction: column;
    gap: 5vh;
    width: 98%;
    margin-bottom: 10vh;
  }
  .add-account input {
    font-size: 1.4rem;
    width: 100%;
  }
  .add-account button {
    font-size: 1.4rem;
    width: 100%;
  }
  .add-account select {
    font-size: 1.4rem;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .content {
    width: 98%;
  }
}
